<tr>
  <td><a href="<%= user_path(user) %>"><%= user.id %></a></td>
  <td><%= user[:email] %></td>
  <td><%= user[:name] %></td>
  <td><%= user[:created_at] %></td>
  <td><%= user[:updated_at] %></td>
</tr>