<h1><%= feed.title %></h1>

<div class="feed-container">
<% feed.activities.each do |activity| %>
  <div href="javascript:void(0)" class="activity activity-collapsed">
    <div class="row contracted-content">
      <div class="col-xs-9">
        <%= activity.truncated_event %> @ <%= activity.truncated_location %>, ( <%= activity.formatted_total_amount %> )
      </div>
      <div class="pull-right" style="margin-right: 10px;">
        <%= activity.date %>
      </div>
    </div>
    <div class="row expanded-content">
      <div class="col-xs-12">
        <h4 class="pull-left"><%= activity.event %></h4>
        <span class="pull-right">
          <i class="glyphicon glyphicon-time"></i> <a href="javascript:void(0)" class="popover-date" data-date="<%= activity.raw_date.to_s %>"><%= activity.date %></a>
        </span>
      </div>
      <div class="col-xs-12">
        <h5><i class="glyphicon glyphicon-map-marker"></i> <%= activity.location %></h5>
        <b>Total Amount Spent: <%= activity.formatted_total_amount %></b><br/>
      </div>
      <div class="col-xs-12">
        <b><%= pluralize activity.users.count - 1, "other friend" %></b><br/>
        <% for user in activity.users_except current_user do %>
          <a href="javascript:void(0)" class="popover-person user-tooltip" data-id="<%= user.id %>">
            <img src="<%= profile_picture_url_for user, 32 %>" class="img-circle" width="32" height="32" title="<%= user.name %>" alt="<%= user.name %>">
          </a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<% request_javascript_module "activity_feed" %>

<%# request_javascript_module "angular_feed" %>


<!-- <div class="feed-container" ng-app="splity" ng-controller="feedsController">

  <div href="javascript:void(0)" class="activity activity-collapsed" ng-repeat="activity in feed.activities">
    <div class="row contracted-content">
      <div class="col-xs-9">
        {{ activity.event }} @ {{ activity.location }}
      </div>
      <div class="pull-right" style="margin-right: 10px;">
        {{ activity.date }}
      </div>
    </div>
    <div class="row expanded-content">
      <div class="col-xs-12">
        <h4 class="pull-left">{{ activity.event }}</h4>
        <span class="pull-right">
          <i class="glyphicon glyphicon-time"></i> <a href="javascript:void(0)" class="popover-date" data-date="{{ activity.date }}">{{ activity.date }}</a>
        </span>
      </div>
      <div class="col-xs-12">
        <h5><i class="glyphicon glyphicon-map-marker"></i> {{ activity.location }}</h5>
        <b>Total Amount Spent: {{ activity.amount }}</b><br/>
      </div>
      <div class="col-xs-12">
        <b></b><br/>

      </div>
    </div>
  </div>
</div> -->

<style type="text/css">
  .activity.activity-collapsed:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .expanded-content, .contracted-content {
    transition: 200ms;
  }

  .activity.activity-collapsed .contracted-content, .activity.activity-expanded .expanded-content {
    display: block;
  }

  .activity.activity-expanded .contracted-content, .activity.activity-collapsed .expanded-content {
    display: none;
  }

  .feed-container {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .activity {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: 200ms;
  }

  .activity:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .activity:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .activity-separator {
    height: 10px;
  }


</style>