<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse"> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> <a class="navbar-brand" href="/">Splity</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li class="<!-- active -->"><a href="<%= users_path %>">All Users</a>
        </li>
        <li><a href="">Link</a>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="#">Separated link</a>
            </li>
            <li><a href="#">One more separated link</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control col-lg-8 typeahead" placeholder="Search" id="txtMainSearch">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if !signed_in? %>
        <li><a href="/login">Sign In!</a></li>
        <% end %>
        <% if signed_in? %>
        <%= render partial: 'layouts/partials/notifications' %>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="lblUserNameNavbar"><%= current_user.name %></span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= user_url(current_user) %>">My Profile</a>
            </li>
            <li><a href="<%= friends_user_url(current_user) %>">My Friends</a>
            </li>
            <li><a href="<%= destroy_user_url(current_user) %>"><span class="text-danger">Delete Account</span></a>
            </li>
            <li class="divider"></li>
            <li><a href="<%= logout_path %>">Logout</a>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>