<tr>
  <td><a href="<%= user_activity_url current_user, activity %>"><%= activity.id %></a></td>
  <td><%= activity[:event] %></td>
  <td><%= activity[:location] %></td>
  <td><%= activity[:amount] %></td>
  <td><%= activity[:currency] %></td>
</tr>