<!DOCTYPE html>
<html>
<head>
  <title>Splity</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <script type="text/javascript">
    var params = <%= { controller: params[:controller], action: params[:action] }.merge!(params).to_json.html_safe %>
    var current_user = <%= signed_in? ? { id: current_user.id }.to_json.html_safe : {}.to_json %>
  </script>

  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true" %>
  <%= javascript_include_tag "application" %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render partial: '/layouts/partials/navbar' %>

  <div class="container">
  
    <%= render partial: "/layouts/partials/common_page_header" %>
    
    <% flash.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= value %>
    </div>
    <% end %>

    <%# Page Content %>
    <%= yield %>

  </div>

  <!-- Common -->
  <rubbbish>
    <%= render partial: "/partials/modal" %>
  </rubbbish>

  <!-- <% if Rails.env.development? %>
  <div class="well well-lg col-lg-8 col-lg-offset-2">
    <%= debug(params) %>
  </div>
  <% if @dashboard.present? %>
  <div class="well well-lg col-lg-8 col-lg-offset-2">
    <pre><code><script type="text/javascript">document.write(JSON.stringify(<%= raw @dashboard.to_json if @dashboard.present? %>, null, 2))</script></code></pre>
  </div>
  <% end %>
  <% end %> -->
  <%= render partial: "layouts/partials/footer/common_footer" %>
</body>
</html>