<!DOCTYPE html>
<html>
<head>
  <title>Splity</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>

<script type="text/javascript">
  var params = {
    controller: "<%= params[:controller] %>",
    action: "<%= raw params[:action] %>"
  }
</script>

  <%= render partial: '/layouts/partials/navbar' %>

  <div class="container">
  
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-6">
          <h1>Simplex</h1>
          <p class="lead">Mini and minimalist</p>
        </div>
      </div>
    </div>
    
    <% flash.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= value %>
    </div>
    <% end %>

    <%# Page Content %>
    <%= yield %>

  </div>

  <% if Rails.env.development? %>
  <div class="well well-lg col-lg-8 col-lg-offset-2">
    <%= debug(params) %>
  </div>
  <% if @dashboard.present? %>
  <div class="well well-lg col-lg-8 col-lg-offset-2">
    <pre><code><script type="text/javascript">document.write(JSON.stringify(<%= raw @dashboard.to_json if @dashboard.present? %>, null, 2))</script></code></pre>
  </div>
  <% end %>
  <% end %>
  <% if GlobalConstants::JavascriptsProvided[params[:controller]] == params[:action] %>
    <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}" %>
  <% end %>
</body>
</html>